/* Full page styles */
body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Hind Manduri", sans-serif;
}

#head {
  background-color: steelblue;
  grid-area: hd;
}

h1 {
  text-align: center;
  font-family: "Abril Fatface", serif;
  font-size: 2.8rem;
}

#nav {
  background-color: goldenrod;
  grid-area: nav;
}

ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 1.2rem;
  padding-top: 0.5em;
}

#about {
  background-color: aquamarine;
  grid-area: sd;
}

#posts {
  background-color: orchid;
  grid-area: main;
}

#social {
  background-color: gray;
  grid-area: foot;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "hd"
    "nav"
    "sd"
    "main"
    "foot";
}

@media only screen and (min-width: 40em) {
  .container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "sd hd hd hd hd hd"
      "sd nav nav nav nav nav"
      "sd main main main main main"
      "sd foot foot foot foot foot";
  }

  /*nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }*/

  #posts {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
