body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Hind Manduri", sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "hd"
    "nav"
    "sd"
    "main"
    "foot";
}

@media only screen and (min-width: 40em) {
  .container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "sd hd hd hd hd hd"
      "sd nav nav nav nav nav"
      "sd main main main main main"
      "sd foot foot foot foot foot";
  }

  #posts {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Background taken from https://projects.verou.me/css3patterns/#cross-dots all credit goes here*/
#head {
  background: radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #a4a4a4 75px,
      #a4a4a4 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #a4a4a4 76px,
      #a4a4a4 77px,
      transparent 78px,
      transparent 109px
    ),
    #fff;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  grid-area: hd;

  border-bottom: 2px solid #006992;
}

h1 {
  text-align: center;
  color: #006992;
  text-shadow: 2px 3px #8b8a8a;
  font-family: "Abril Fatface", serif;
  font-size: 4.5rem;
}

#about {
  background-color: #006992;
  grid-area: sd;
  padding: 15px;
  color: white;
}

#posts {
  grid-area: main;
  padding: 20px 40px;
  color: #006992;
}

#social {
  grid-area: foot;
}

.copyright {
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}
