* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(245, 245, 245);
}

.post-title {
  margin-top: 0;
  padding: 1em;
  font-family: "Abril Fatface", serif;
  font-size: 3rem;
  text-align: center;
  background-color: #006992;
  color: rgb(245, 245, 245);
}

.post-wrap {
  width: 60%;
  text-align: center;
  margin: auto;
  padding: 3em;
}

/* photos from https://www.pexels.com/search/dinner/ all credit goes here */
.post-img {
  width: 100%;
  max-width: 600px;
  height: auto;
  box-shadow: 2px 3px 4px #838383;
  border-radius: 5px;
}

.post-txt {
  font-family: "Hind Madurai", sans-serif;
  line-height: 2rem;
}

.author-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-info {
  display: flex;
  width: 55%;
  margin: 2em 0;
  padding: 2em;
  border: 2px solid rgb(136, 136, 136);
  box-shadow: 4px 5px 4px rgb(172, 172, 172);
}

@media (max-width: 55em) {
  .author-info {
    display: flex;
    flex-direction: column;
  }
}

.author-img {
  width: 50%;
  max-width: 360px;
  height: auto;
}

.author-name {
  padding: 0 1em;
}

/* images from <a href="https://pixabay.com/">Pixabay</a> */
.post-footer {
  background-color: #006992;
}

.navigation {
  display: flex;
  padding: 2rem;
  justify-content: space-around;
}

.nav-link {
  font-family: "Hind Madurai", sans-serif;
  font-size: 1.2rem;
  color: #7ffae7;
  text-decoration: none;
}

.nav-link:hover {
  text-transform: uppercase;
}
